.container-card {
    height: 100px;
    width: 50%;
    background-color: #735bf2;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
}

.nome-card {
    font-size: 18px;
}